 @font-face {
   font-family: majormono;
   src: url(./fonts/MajorMonoDisplay-Regular.ttf);

 }



 html,
 body 
  {
   height: 100%;
 }

 body {
   display: flex;
   flex-direction: column;
   background-image: linear-gradient(to top, rgb(109, 12, 109), rgb(99, 99, 225), rgb(89, 195, 214, 0.567));

   justify-content: center;
   align-items: center;
   
 }

 main {
   flex-grow: 1;

 }

 #container {
   background-color: rgb(255, 255, 255, 0.3);
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
   width: 50%;
   height: 70%;
   padding: 20px;

 }

 header
{
   height: fit-content;

 }

 h1 {
   font-size: 2.5rem;
   margin-top: 2.2rem;
   font-family: majormono;
   flex: 50%;
   margin: 20px 0;
 }

 header {
   text-align: center;
   border: 2px;
   border-bottom: solid;
   border-color: rgb(255, 255, 255, 0.3);
   border-radius: 1.5em;
   display: flex;


 }
 

 #search-engine {
   background-color: rgb(255, 255, 255, 0.2);
   border: 2px;
   border: solid;
   border-color: rgb(255, 255, 255, 0.3);
   border-radius: 1em;
   margin-bottom: 10px;
   margin-right: 10px;
   padding: 5px;

 }

 #header_icons {
   display: flex;
   justify-content: space-evenly;
 }
 #search-bar>a>img{

vertical-align:middle
 }

 .profile {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 10px;
   padding: 5px 0;

 }

 .contact_actions {
   display: flex;
   align-items: center;
   gap: 35px;
 }

 .contact_info {
   display: flex;
   align-items: center;
 }

 li {
   display: block;
   border-bottom: 2px solid rgb(255, 255, 255, 0.3);
   border-radius: 1em;
 }
 

 button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  width:  fit-content;

 }
button:hover{
  border-bottom:4px rgb(255, 255, 255,0.3) solid ;
  border-radius: 1em;
  transition: border 0.5s;

 
}

